<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item>
        <ion-icon primary name="musical-notes" item-start></ion-icon>
        <ion-label item-content>Music</ion-label>
        <ion-toggle item-end [(ngModel)]="playMusic" (click)="toggleMusic($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon primary name="volume-up" item-start></ion-icon>
        <ion-label item-content>Sounds</ion-label>
        <ion-toggle item-end [(ngModel)]="playSounds" (click)="toggleSounds($event)"></ion-toggle>
      </ion-item>
    </ion-item-group>
    <ion-item text-center>
      <ion-label>
        &copy; DualCat 2018
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list> -->
  <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
